In [ ]:
import pandas as pd
import numpy as np

import tensorflow as tf
from matplotlib import pyplot as plt
from keras.models import Sequential
from keras.layers import Dense
from sklearn.datasets import make_regression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [ ]:
dados = pd.read_csv("/content/RegressaoPrecodeCasa.CSV",sep=";") 
dados

,Área comum,Área da piscina,Área Pomar,Lareira,Área garagens,Playground,Área canil,Área gramada,Quartos,Área de festas,Área Baheiros,Jardins,Area Banheiro,Preço
0,0.00632,18.0,2310.0,0,0.538,65750,65.2,40900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7070.0,0,0.469,64210,78.9,49671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7070.0,0,0.469,71850,61.1,49671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2180.0,0,0.458,69980,45.8,60622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2180.0,0,0.458,71470,54.2,60622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11930.0,0,0.573,65930,69.1,24786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11930.0,0,0.573,61200,76.7,22875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11930.0,0,0.573,69760,91.0,21675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11930.0,0,0.573,67940,89.3,23889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11930.0,0,0.573,60300,80.8,25050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
X = dados.values[:,0:13] # separa o conjunto com as caracteristicas - sao 19
y = dados.values[:,13] # conjunto de saida com apenas 1 valor
X = X.astype(float)

In [ ]:
# #normalizar somente X que é  a entrada
normal = MinMaxScaler(feature_range = (0,1))
X = normal.fit_transform(X)

In [ ]:
X

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
#Geração do modelo
model = Sequential()
model.add(Dense(100, activation='tanh', kernel_initializer='he_normal', input_shape=(13,)))
model.add(Dense(180, activation='tanh'))
model.add(Dense(500, activation='tanh'))
model.add(Dense(350, activation='tanh'))
model.add(Dense(200, activation='tanh'))
model.add(Dense(230, activation='tanh'))
model.add(Dense(200, activation='tanh'))
model.add(Dense(1, activation='linear')) #usada para regressão

In [ ]:
model.compile(optimizer='adam', loss='mse')

In [ ]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, batch_size=64, verbose=1)

In [ ]:
plt.title('Grafico de Custo')
plt.plot(history.history['loss'], label='Perdas durante o Treinamento')
plt.plot(history.history['val_loss'], label='Perdas durante os Testes')
plt.xlabel('Epocas')
plt.ylabel('Perdas')
plt.legend()

In [ ]:
y_test.shape

(102,)

In [ ]:
PrevisaoRede = model.predict(X_test)
PrevisaoRede

In [ ]:
y_test

In [ ]:
MSE = mean_squared_error(y_test,PrevisaoRede)
print(MSE)

79.1766285382693

In [ ]:
MAE = mean_absolute_error(y_test,PrevisaoRede)
print(MAE)

6.600354329277487

In [ ]:
R2 = r2_score(y_test,PrevisaoRede)
print(R2)

In [ ]:
DadosTeste = pd.read_csv("/content/RegressaoPrecodeCasaTeste10.csv",sep="\t") #muda o endereço, está apontando para minha máquina!!
DadosTeste

In [ ]:
DadosTesteX = DadosTeste.values[:,0:13]
DadosTesteY = DadosTeste.values[:,13]
DadosTesteY

In [ ]:
# #normalizar somente X que é  a entrada
normal = MinMaxScaler(feature_range = (0,1))
DadosTesteX = normal.fit_transform(DadosTesteX)

In [ ]:
# criando e treinando o modelo diferente de rede neural
from sklearn.linear_model import LinearRegression
model2 = LinearRegression() # não é a rede neural
model2.fit(X_train, y_train)

LinearRegression()

In [ ]:
previstolinear = model2.predict(X_test)

In [ ]:
R2TesteRegressao = r2_score(y_test,previstolinear)
R2TesteRegressao

0.7086412391463537